<html>
  <head>
    <title>Sally's blog</title>
  </head>
  <body>
    <div>
    <h1>Sally's attempt at a blog</h1>
    <h2>an <em>attempt</em> <br />at adult learning</h2>
    <div>
    <div>
      <p>published: 2.07.2016, 1730</p>
    <div>
    <p>It </strong>works!</p>
    <div>
    <div>
    <p>The purpose of this attempt:</p>
    <ul><li>future proofing</li><li>making by brain hurt</ul>
    <div>'For further information'</div>
    <a href='https://djangogirls.org'>DjandoGirls</a>
  </body>
</html>
